.hotel-title {
  box-shadow: -2px 6px 5px -4px rgba(0,0,0,0.1);
  padding-bottom: 8px;
  margin-top: 0;
}

.room {
  margin-left: 20px;
  background-color: #f2f1f1;
  text-align: center;
  &__title {
    padding-top: 10px;
  }
  &__feature {
    display: grid;
    max-width: 100%;
    grid-template-columns: 50% 50%;
    padding: 30px;
    text-align: left;
    span {
      min-width: 45%;
    }
  }
  &__button {
    margin-bottom: 15px;
  }
}