.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}